@import "../../global.scss";

.topbar {
    width: 100%;
    height: 70px;
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;
    overflow: hidden;   

    /*
     background:-moz-linear-gradient(90deg, rgba(212, 20, 90, 1) 0%, rgba(251, 176, 59, 1) 100%); 
     background:-webkit-linear-gradient(90deg, rgba(212, 20, 90, 1) 0%, rgba(251, 176, 59, 1) 100%);
     background:-o-linear-gradient(90deg, rgba(212, 20, 90, 1) 0%, rgba(251, 176, 59, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBB03B', endColorstr='#D4145A', GradientType=0 );
     background:-ms-linear-gradient(90deg, rgba(212, 20, 90, 1) 0%, rgba(251, 176, 59, 1) 100%);
     background:linear-gradient(90deg, rgba(212, 20, 90, 1) 0%, rgba(251, 176, 59, 1) 100%);
    */ 

    .wrapper {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content:  space-between;
        overflow: hidden;   


        .left {
            display: flex;
            align-items: center;
            overflow: hidden;  
            justify-content: center; 
            //background-color: red;;

            a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            //background-color: blue;

            img {
                align-items: center;
                overflow: hidden;   
                width: 40px;
                height: 40px;
                //background-color: green;
                
                &:hover 
                {
                    -webkit-animation: jello-horizontal 0.9s both;
	                animation: jello-horizontal 0.9s both;

                    @-webkit-keyframes jello-horizontal {
                        0% {
                        -webkit-transform: scale3d(1, 1, 1);
                                transform: scale3d(1, 1, 1);
                        }
                        30% {
                        -webkit-transform: scale3d(1.25, 0.75, 1);
                                transform: scale3d(1.25, 0.75, 1);
                        }
                        40% {
                        -webkit-transform: scale3d(0.75, 1.25, 1);
                                transform: scale3d(0.75, 1.25, 1);
                        }
                        50% {
                        -webkit-transform: scale3d(1.15, 0.85, 1);
                                transform: scale3d(1.15, 0.85, 1);
                        }
                        65% {
                        -webkit-transform: scale3d(0.95, 1.05, 1);
                                transform: scale3d(0.95, 1.05, 1);
                        }
                        75% {
                        -webkit-transform: scale3d(1.05, 0.95, 1);
                                transform: scale3d(1.05, 0.95, 1);
                        }
                        100% {
                        -webkit-transform: scale3d(1, 1, 1);
                                transform: scale3d(1, 1, 1);
                        }
                    }
                    @keyframes jello-horizontal {
                        0% {
                        -webkit-transform: scale3d(1, 1, 1);
                                transform: scale3d(1, 1, 1);
                        }
                        30% {
                        -webkit-transform: scale3d(1.25, 0.75, 1);
                                transform: scale3d(1.25, 0.75, 1);
                        }
                        40% {
                        -webkit-transform: scale3d(0.75, 1.25, 1);
                                transform: scale3d(0.75, 1.25, 1);
                        }
                        50% {
                        -webkit-transform: scale3d(1.15, 0.85, 1);
                                transform: scale3d(1.15, 0.85, 1);
                        }
                        65% {
                        -webkit-transform: scale3d(0.95, 1.05, 1);
                                transform: scale3d(0.95, 1.05, 1);
                        }
                        75% {
                        -webkit-transform: scale3d(1.05, 0.95, 1);
                                transform: scale3d(1.05, 0.95, 1);
                        }
                        100% {
                        -webkit-transform: scale3d(1, 1, 1);
                                transform: scale3d(1, 1, 1);
                        }
                    }
                }
            }
        }
            
            /*.logo {
                font-size: 40px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
                margin-right: 40px;

                &:hover {
                    color: black;
                }
            }*/

            .itemContainer {
                display: flex;
                align-items: center;
                margin-left: 30px;

                @include mobile {
                    display: none;
                }

                .icon {
                    font-size: 18px;
                    margin-right: 5px;
                    color: transparent;
                }

                span {
                    font-size: 15px;
                    font-weight: 500;
                    color: transparent;
                }
            }
        }

        .right {
            .hamburger {
                width: 32px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                span {
                    width: 100%;
                    height: 3px;
                    background-color: black;
                    transform-origin: left;
                    transition: all 2s ease;
                }
                
            }
        }
    }

    &.active {
        background-color: black;
        color: white;

        .hamburger {
            span {
                &:first-child {
                    background-color: white;
                    //transform: rotate(45deg);
                }
                &:nth-child(2) {
                    background-color: white;
                }
                &:last-child {
                    background-color: white;
                    //transform: rotate(-45deg);
                }
            }
        }

        .left {
            a {
                img {
                filter: invert(100%);
                -webkit-filter: invert(100%);
                }
            }
            
            .itemContainer {
                .icon {
                    color: white;
                }
                span {
                    color: white;
                }
            }
        }
    }
}