.intro {
    //background-color: #ff514b;
    color: white;
    display: flex;
    

    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(212, 20, 90, 1) 0%, rgba(251, 176, 59, 1) 100%); 
    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(212, 20, 90, 1) 0%, rgba(251, 176, 59, 1) 100%);
    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(212, 20, 90, 1) 0%, rgba(251, 176, 59, 1) 100%);
    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBB03B', endColorstr='#D4145A', GradientType=0 );
    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(212, 20, 90, 1) 0%, rgba(251, 176, 59, 1) 100%);
    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(212, 20, 90, 1) 0%, rgba(251, 176, 59, 1) 100%);

    .wrapper {
        margin: auto;
        font-size: 30px;
        font-weight: 700;

        -webkit-animation: text-blur-out 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
	        animation: text-blur-out 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;

@-webkit-keyframes text-blur-out {
    0% {
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
    }
  }
  @keyframes text-blur-out {
    0% {
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
    }
  }
  
        .caption {
            font-size: 20px;
            font-weight: 100;
        }

        .icon {
            color: inherit;
            &:hover {
                color: black;
            } 
        }

        /*.img {
            width: 70px;
            height: 70px;

        }*/

    }
  
}